<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Создать марку</title>
	</head>
	<body>
	    <h1>Создать марку</h1>
	    	
	   	<form th:action="@{/brand}" method="post">
	        <div>
	            <label>Наименование:</label>
	            <input type="text" th:name="name"/>
	        </div>
	        <div>
	            <label>Тип:</label>
	            <div th:each="type : ${typeList}">
	            
	            	<input type="radio" th:value="${type}" th:name="type"/> [[${type.getTitle()}]]
	            
	            </div>
	            
	        </div>
	        <div>
	            <label>Объем двигателя:</label>
	            <input type="text" th:name="engineVolume"/>
	        </div>
	        <div>
	            <label>Кол-во лошадиных сил:</label>
	            <input type="text" th:name="horsePowers"/>
	        </div>
	        <div>
	            <label>Крутящий момент:</label>
	            <input type="text" th:name="torque"/>
	        </div>
	        <div>
	            <label>Размер дисков:</label>
	            <input type="text" th:name="diskSize"/>
	        </div>
	      
	        
	        
	        <div>
	            <button type="submit">Save</button>
	        </div>
	    </form>
	    
	</body>
</html>