<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Login</title>
	</head>
	<body>
	    <h1>Создать транспортное средство</h1>
	    	
	   	<form th:action="@{/vehicle}" method="post">
	        <div>
	            <label>Год выпуска:</label>
	            <input type="text" th:name="productionYear"/>
	        </div>
	        <div>
	            <label>Цвет кузова:</label>
	            <input type="text" th:name="bodyColor"/>
	        </div>
	        <div>
	            <label>Пробег:</label>
	            <input type="text" th:name="mileage"/>
	        </div>
	        <div>
	            <label>Количество владельцев:</label>
	            <input type="text" th:name="numberOfOwners"/>
	        </div>
	        <div>
	            <label>Цена:</label>
	            <input type="text" th:name="price"/>
	        </div>
	      
	       <div>
	            <label>Марка:</label>
	       
	            <select name="brand">
  					<option th:each="brand : ${brandList}" th:value="${brand.getUuid()}" th:text="${brand.getName()}"></option>
				</select>
	            
	        </div>
	        
	        <div>
	            <label>Компания:</label>
	       
	            <select name="enterprise">
  					<option th:each="enterprise : ${enterpriseList}" th:value="${enterprise.getUuid()}" th:text="${enterprise.getName()}"></option>
				</select>
	            
	        </div>
	        
	        <div>
	            <button type="submit">Save</button>
	        </div>
	    </form>
	    
	</body>
</html>